# The usual
.gitignore
node_modules

# Text editor
.history
.vscode
temp_client/.env
temp_api/logformatter.json
temp_api/dist/src/models/FamilyMember.js
temp_api/dist/src/models/FamilyTree.js
temp_api/dist/src/models/Permission.js
temp_api/dist/src/models/Session.js
temp_api/dist/src/models/User.js
temp_api/dist/src/routes/auth.routes.js
temp_api/dist/src/routes/familyMember.routes.js
temp_api/dist/src/routes/familyTree.routes.js
temp_api/dist/src/services/auth.js
temp_api/dist/src/services/familyMember.js
temp_api/dist/src/services/familyTree.js
temp_api/dist/src/services/serviceHelpers.js
temp_api/dist/src/services/types.js
temp_api/dist/src/services/user.js
temp_api/dist/src/utils/toolkit.js
