// +++++=>ANIMATIONS<=+++++
@keyframes drop {
  0% {
    opacity: 0;
    transform: rotateY(x);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  25% {
    opacity: .25;
    transform: rotate(45deg);
  }

  50% {
    opacity: .5;
    transform: rotate(90deg);
  }

  75% {
    opacity: .75;
    transform: rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: rotate(270deg);
  }
}

// +++++=>END<=+++++

// +++++=>TYPOGRAPHY<=+++++

// +++++=>END<=+++++

// +++++=>CONTAINERS<=+++++
body {
  font-family: 'Dosis',
    sans-serif;
  font-family: 'Gruppo',
    sans-serif;
  font-family: 'Lato',
    sans-serif;
  font-family: 'Montserrat Alternates',
    sans-serif;
  position: relative;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }

  #root {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    .navigation {
      position: absolute;
      top: 0;
      width: 100vw;
      margin: 0;
      z-index: 2;
      display: flex;
      left: 0;
      justify-content: flex-start;
      height: 60px;
      align-items: center;
      box-shadow: 1px 1px 0 grey;
      background: #f5f6f4;

      .logo-container {
        height: 50px;
        height: 50px;
        display: inline-flex;
        flex: 0 1 15%;
        justify-content: start;
        padding: 0 10px;

        img {
          height: 100%;
          border-radius: 40px;
          border: .5px solid;
        }

        span {
          font-size: 2em;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0;
          font-weight: bolder;
          margin-right: 10px;
        }
      }

      .pages-links {
        display: flex;
        justify-content: end;
        flex: 0 1 60%;
        height: 100%;
        align-items: center;

        >div {
          padding: 0 5px;
        }
      }

      .avatar-container {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 0 10px;

        svg {
          font-size: 1.3em;

        }
      }

      #THEME {
        height: 100%;
        width: 125px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        svg {
          border: 0.5px solid;
          border-radius: 20px;
          cursor: pointer !important;
          font-size: 1.2em;
        }

        .trigger {
          svg {
            animation: spin 1s ease infinite;
            animation-play-state: paused;
            animation-fill-mode: forwards;

            &:hover {
              animation-play-state: running;
            }
          }
        }

        .choices {
          animation: drop .4s ease;
          transition: .4s ease;
          position: absolute;
          display: flex;
          justify-content: space-between;
          width: 150px;
          top: 61px;
          right: 15px;
          background: #cdc8c84f;
          padding: 5px 5px;
          align-items: center;
          height: 25px;
          border-radius: 25px;

          >div {
            border-radius: 20px;
            padding: 2px;
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    #FT {
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100vw;
      margin: 0;
      overflow: hidden;
      top: 0;
      left: 0;

      &.DARK-GREEN {
        background: #003231;

        .primary-bg {
          background: #dd9732;
        }

        .primary {
          color: #dd9732;
        }

        .secondary-bg {
          background: #cc3468;
        }

        .secondary {
          color: #cc3468;
        }

        .bg {
          color: #003231;
        }

        .accent-bg {
          background: white;
        }

        .accent {
          color: white;
        }
      }

      &.LIGHT {
        background: rgba(206, 202, 202, 0.2392156863);

        .primary-bg {
          background: #604511;
        }

        .primary {
          color: #604511;
        }

        .secondary-bg {
          background: #d56792;
        }

        .secondary {
          color: #d56792;
        }

        .bg {
          background: rgba(206, 202, 202, 0.2392156863);
        }

        .accent-bg {
          background: #f5f6f4;
        }

        .accent {
          color: #A5D6A7;
        }
      }

      &.DARK {

        background: #070707;

        .primary-bg {
          background: #fdfdfd;
        }

        .primary {
          color: #fdfdfd;
        }

        .secondary-bg {
          background: #c37ed2;
        }

        .secondary {
          color: #c37ed2;
        }

        .bg {
          background: #4cd693;
        }

        .accent-bg {
          background: #ffcc4a;
        }

        .accent {
          color: #ffcc4a;
        }
      }
    }

    #TR {
      background: yellow;
      overflow: hidden;
    }

    .page {
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(255, 255, 255);
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(59, 59, 59);
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
      }

      position: relative;
      padding: 15px;
      height: calc(100vh - 60px);
      width: 100vw;
      margin-top: 60px;
      overflow: hidden scroll;
      background: #cecaca3d;
    }

    #FT-SPINNER {
      position: absolute;
      top: 0;
      margin: 0;
      height: calc(100% - 60px);
      width: 100%;
      padding: 0;
      z-index: 7;
      background: rgb(255, 255, 255);
      background: linear-gradient(185deg, rgba(255, 255, 255, 0.1853991597) 0%, rgb(255 255 255) 52%);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        opacity: .2;
      }
    }

    .transparent-bg {
      &.op-50 {
        background: #ffffff9e;
      }

      background-blend-mode: overlay;

    }

    // .not-found {}

    // +++++=>END<=+++++

    // +++++=>BUTTONS<=+++++
    .button {
      padding: 5px;

      &.lg {
        width: 200px;
        height: 100px;
      }

      &.rounded {
        border-radius: 5px;
        ;
      }
    }

    // +++++=>END<=+++++

    .spinner-container {
      //TODO: the container's width is a little off whhen it comes to the spinner container. EAsy fix, just not for now
      position: absolute;
      display: flex;
      height: 100%;
      width: 100%;
      background: #00000069;
      z-index: 100000;

      .spinner-grow {
        background: #b2b2b299;
        width: 10px;
        height: 20%;
        margin: auto;
      }
    }
  }
}