/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.tree {
  width: 100%;
  text-align: center;
  position: relative;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tree li {
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  text-align: center;
  flex: 1;
}

.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree .member {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  top: -1px;
  transition: all 0.5s;
}

.tree .member:hover {
  background-color: #e1f0f7;
  border: 1px solid #94a6b0;
}
