  .base-form-fields {
    &.med {
      width: 40vw;
      margin: auto;
      position: relative;
    }

    position: absolute;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #8f631f52;


    .field-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 10px 0;

      label {
        padding: 5px 0;
      }

      input {
        border-radius: 5px;
        padding: 5px;
      }

      // .base {}
    }
  }