{% extends 'base.html.twig' %}

{% block head %}
     {% block stylesheets %}
         {{ encore_entry_link_tags('household') }}
     {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('household') }}
    {% endblock %}
    {% block title %}Household{% endblock %}
{% endblock %}

{% block body %}
    <div id="household">

    </div>
{% endblock %}
